.seasonModal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 103;

  &.isHidden {
    display: none;
  }

  .seasonModal__popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    color: $color-black;
    background-color: $color-lightGray;
    border-radius: 1rem;
    text-align: center;
    @include mobile {
      width: 30rem;
    }

    .exit-icon {
      position: absolute;
      top: -3%;
      right: -1%;
      font-size: 4rem;
      color: $color-arrowHover;
      cursor: pointer;
      z-index: 104;
      transition: .2s ease-in;
      &:hover {
        color: $color-darkGray;
      }
    }

    .popup__title {
      font-size: 2.2rem;
      padding: 3rem 2rem 2rem 2rem;
      border-bottom: 0.1rem solid $color-mediumGray;
    }

    .popup__text {
      font-size: 1.6rem;
      padding: 2rem;
    }

    .popup__btn {
      display: inline-block;
      margin: 0 0 2.5rem 0;
      padding: 1rem 2.5rem;
      font-size: 1.4rem;
      color: $color-white;
      background-color: $color-arrowHover;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: .2s ease-in;
      &:hover {
        background-color: $color-secondary;
      }
    }
  }
}
